html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------Fin reset-----*/


h1{
  font-size: 3em;
	width:500px;
}

h2{
  font-size: 3em;
	padding-top: 40px;
	margin-bottom: 20px;
}
h3{
	font-size: 1.5em;
}
h4{
}
.c{
  color:#f52f57;
}
/*-------*/
.votre-dev{
	width:500px;
}
.logo{
  width: 100%;
  font-size: 30px;
	padding-top: 20px;
	margin-left: 25%;
}
.bg-nav{
	background-image: url(../images/bg-nav.jpg);
	height: 200px;
	width: 100%;
	repeat:no-repeat;
}
.container-marge{
	margin-left: 100px;
	margin-right: 100px;
}
nav{
  display:inline;
	margin-top: 20px;
	width: 80%;
}
.ul-menu1{
	width: 600px;
	list-style: none;
	margin-top: 30px;
	margin-left: 22%;
}
.ul-menu1 li{
	display: table-cell;
	display: inline-block;
	margin-left: 15px;
	font-size: 25px;
	font-weight: 300;
	color: #f52f57;
}

.menu2{
  float: right;
	margin-top: -150px;
	margin-left: 100px;
	spacing
}
.menu2 li{
	margin-top: 10px;
}

.button-nav{
  color:white;
  background-color: #f52f57;
  width: 140px;
	height: 30px;
}
.button-nav:hover{
  color:#f52f57;
  background-color: white;
	width: 140px;
	height: 30px;
}
.button-nav:active {
  color:white;
  background-color: #f52f57;
  box-shadow: 0 2px white;
  transform: translateY(1px);
}
/*-------fin nav--------*/

.main-container{
	background-image: url(../images/girly.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 2300px;
}

.rejoignez-bloc{
	margin-top: 20px;
	padding-bottom: 80px;
}
.rejoignez-text-bloc{
	margin-top: 5px;
	padding-top: 5%;
	padding-left: 15%;
	font-size: 20px;
	color:white;
}
.stage-part{
	margin-top: 60px;
}
.stage-part,
.stage-part-2,
.stage-part-3,
.stage-part-4,
.stage-part-5{
	margin-left: 150px;
  width: 300px;
  height: 80px;
  background: #00798c;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
	opacity: 0.73;
}
  .stage-part:before,
	.stage-part-2:before,
	.stage-part-3:before,
	.stage-part-4:before,
	.stage-part-5:before{
  content: "";
  position: absolute;
  right: 80%;
  top: 60px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 26px solid #00798c;
  border-bottom: 13px solid transparent;
}


.stage-part-2,
.stage-part-4{
	margin-left: 590px;
}
.commentaire{
	padding-left: 100px;
}
/*--------card-dev-----*/
.container-visitcard{
	display: flex;
	margin-top: 20px;
	margin-left: 10%;
	flex-wrap: wrap;
}
.card{
	margin-right: 20px;
	text-align: center;
	margin-top: 20px;
}
.card-title{
	font-size: 25px;
}

.btn-primary{
	background-color: #00798c;
	color:white;
}
.btn-primary:hover{
	background-color: white;
	color: #00798c;
}


/*-------ils nous font confiance-----*/
.container-confiance-main{
	margin-top: 40px;
}
.container-confiance{
	display:flex;
	margin-left: 10%;
}
.container-mission{
	width:;
	padding-right: 20px;
}

.text-mission{
	padding-top: 30px;
	font-size: 20px;
}

/*---------codevores en chiffres----*/
.container-chiffres-main{
	margin-top: 40px;
}
.container-rond-chiffres{
	display: flex;
	margin-bottom: 100px;
	margin-left: 10px;
}
.rond-chiffres{
	width: 150px;
	height: 150px;
	background-color: #00798c;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #00798c;
	margin-left: 10px;
}
.text-chiffres{
	color:white;
	padding-top: 10px;
}

footer{
	background-image: url(../images/bg-footer-3.png);
	height: 150px;
	width: 1200px;
	background-repeat: no-repeat;
}
