html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------Fin reset-----*/


h1{
  font-size: 2em;
	padding-left: 10%;
}

h2{
  font-size: 2em;
	margin-top: 60px;
}
.c{
  color:#f52f57;
}
.logo{
  width: 50%;
  font-size: 2em;
	padding-top: 50px;
	margin-left: 20px;
}
.bg-nav{
	background-image: url(../images/bg-nav.jpg);
	height: 200px;
	width: 100%;
	repeat:no-repeat;
}
.container-marge{
	margin-left: 100px;
	margin-right: 100px;
}


nav{
  display:inline;
  text-align: right;
	float:right;
	margin-top: -100px;
	width: 80%;
}

.menu2{
  display:inline;
  text-align: right;
	float:right;
}
.button-nav{
  color:white;
  background-color: #f52f57;
  width: auto;
}
.button-nav:hover{
  color:#f52f57;
  background-color: white;
  width: auto;
}
.button-nav:active {
  color:white;
  background-color: #f52f57;
  box-shadow: 0 2px white;
  transform: translateY(1px);
}

.container-visitcard{
	display: flex;
	margin-top: 20px;
	margin-left: 10%;
	flex-wrap: wrap;
}
.card{
	margin-right: 20px;
	text-align: center;
}




footer{
	margin-top: 200px;
}
