html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*__________Fin reset___________*/


h1{
  font-size: 3em;
	width:500px;
}

h2{
  font-size: 2em;
	padding-top: 40px;
	margin-bottom: 20px;
}
h3{
	font-size: 1.5em;
}
h4{
}
.c{
  color:#f52f57;
}
.container-marge{
	margin-left: 100px;
	margin-right: 100px;
}

/*____________*/
/*------- nav--------*/
.votre-dev{
	width:500px;
}
.logo{
  width: 100%;
  font-size: 30px;
	padding-top: 20px;
	margin-left: 25%;
}
.bg-nav{
	background-color: #f5e3e0;
	height: 250px;
	width: 100%;
}

nav{
  display:inline;
	margin-top: 20px;
	width: 80%;
}
.ul-menu1{
	width: 800px;
	list-style: none;
	margin-top: 30px;
	margin-left: 22%;
}
.ul-menu1 li{
	display: table-cell;
	display: inline-block;
	margin-left: 15px;
	font-size: 25px;
	font-weight: 300;
	color: #f52f57;
	text-decoration: none;
}
.menu2{
  float: right;
	margin-top: -150px;
	margin-left: 100px;
	spacing
}
.menu2 li{
	margin-top: 10px;
}
.button-nav{
  color:white;
  background-color: #f52f57;
  width: 140px;
	height: 30px;
}
.button-nav:hover{
  color:#f52f57;
  background-color: white;
	width: 140px;
	height: 30px;
}
.button-nav:active {
  color:white;
  background-color: #f52f57;
  box-shadow: 0 2px white;
  transform: translateY(1px);
}
/*__________fin nav__________*/

/*-------footer*/
footer{
	background-color: #f5e3e0;
	height: 150px;
	width: 100%;
	}

.container-footer{
	display: flex;
	padding-top: 20px;
	width: 700px;
}
.title-footer{
	margin-right: 80px;
	width: 250px;
	color:#f52f57;
	font-size: 20px
}
.cond-gen{
	margin-left: 220px;
}
.li-footer{
	margin-left: 35px;
}
.copyright{
	padding-top: 20px;
	color: #00798c;
	margin-left: 15%;
}
/*___________fin footer___________*/
/*----------index------*/

.container-marge-gauche{
	background-color:#e5e5e5;
	width: auto;
	height: 700px;

}
.container-rejoignez{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 60px;
}
.rejoignez-bloc{
	margin-top: 20px;
	padding-bottom: 80px;
}
.rejoignez-text-bloc{
	margin-top: 5px;
	padding-top: 5%;
	padding-left: 15%;
	font-size: 20px;
	color:white;
}
.stage-part{
	margin-top: 60px;
}
.stage-part,
.stage-part-2,
.stage-part-3,
.stage-part-4,
.stage-part-5{
	margin-left: 150px;
  width: 300px;
  height: 80px;
  background: #00798c;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
  .stage-part:before,
	.stage-part-2:before,
	.stage-part-3:before,
	.stage-part-4:before,
	.stage-part-5:before{
  content: "";
  position: absolute;
  right: 80%;
  top: 60px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 26px solid #00798c;
  border-bottom: 13px solid transparent;
}
.stage-part-2,
.stage-part-4{
	margin-left: 590px;
}
.commentaire{
	padding-left: 100px;
}
/*--------card-dev-----*/

.container-visitcard{
	display: flex;
	margin-top: 20px;
	margin-left: 10%;
	flex-wrap: wrap;
}
.card{
	margin-right: 30px;
	text-align: center;
	margin-top: 20px;
}
.card-title{
	font-size: 25px;
}
.card-body{
	background-color: #f5e3e0;
}
.btn-primary{
	background-color: #00798c;
	color:white;
}
.btn-primary:hover{
	background-color: white;
	color: #00798c;
}

/*-------ils nous font confiance-----*/
.container-confiance-main{
	margin-top: 40px;

}
.container-confiance{
	margin-left: 10%;
	width:900px;
	display: flex;
}

/*---------codevores en chiffres----*/
.container-marge-gauche-2{
	background-color:#e5e5e5;
	height: 300px;
}
.container-chiffres-main{
	margin-top: 40px;
	margin-left: 100px;
}
.container-rond-chiffres{
	display: flex;
	margin-bottom: 100px;
	margin-left: 10px;
}
.rond-chiffres{
	width: 150px;
	height: 150px;
	background-color: #00798c;
	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	-webkit-box-shadow: 8px 6px 5px -4px white;
	-moz-box-shadow: 8px 6px 5px -4px white;
	box-shadow: 8px 6px 5px -4px white;
	margin-left: 70px;
}
.text-chiffres{
	color:white;
	padding-top: 50px;
	padding-left: 20px;
	font-weight: 600;
}
/*______________ fin index______*/
/*-------connexioncodevores-------*/
.container-connexion{
	display: inline-flex;
}
